extend ./layout/layout.pug
block content
	main.page-main.page-content.bg-white.mg-bot-60
		.grid.wide.page-cart-checkout
			.page-title-wrapper
				h1.page-title
					span Shopping Cart
			.row.container
				.col.l-9.m-12.c-12.cart-main
					form(action='',method='post')
						.cart-main-wrapper
							.cart-main-title-wrapper
								.cart-main-title
									.cart-main-title__item.item
										span Products
									.cart-main-title__item.price
										span Price
									.cart-main-title__item.qty
										span Qty
									.cart-main-title__item.subtotal
										span Subtotal
							.cart-main-product-list
								if !datas || datas == null
								else
									each product in datas
										.cart-main-product-item
											.cart-main-product__info
												.cart-main-product__info-item
													.cart-main-product__img
														a(href='')
															img(src='./uploads/images/' + product.images)
													a.product-name(href='')
														span=product.name
												.cart-main-product__info-detail-wrapper
													.cart-main-product__info-detail
														.product-price
															.price-final=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format((product.price).toFixed())
														.product-qty
															.box-tocart__qty
																a.qty-down(href='')
																	i.fas.fa-minus
																input.qty-control(type='text', value=product.quantity)
																a.qty-up(href='')
																	i.fas.fa-plus
														.product-price-total-item
															span=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format(((product.price) * product.quantity).toFixed())
													.cart-main-product__action
														a.action-remove(href='/remove-product-cart/' + product._id, title='Remove item')
															i.fas.fa-times
							.cart-main-action
								.left
									a.action-continue.btn-primary(href='/shop')
										i.ti-angle-left
										| Continue Shopping
								.right
									a.action-clear.btn-primary(href='/clear-cart')
										| Clear Shopping Cart
									a.action-update.btn-primary
										i.fas.fa-sync-alt
										| Update Shopping Cart
				.col.l-3.m-12.c-12.cart-summary
					.cart-summary-title
						span Summary
					.block-shipping
						.block-title.panel-heading
							span Estimate Shipping and Tax
							i.ti-angle-down
						.block-shipping-summary.panel-collapse
							form.shipping-zip-form(action='')
								.fieldset.estimate
									.field.note.mt-2
										| Enter your destination to get a shipping estimate.
									.field.country-select
										label.label(for='') Country
										.control
											select(name='', id='')
												option(value='') United States
												option(value='') Vietnam
									.field.state-select
										label.label(for='') State/Province
										.control
											select(name='', id='')
												option(value='') Please select a region, state or province
												option(value='') Hanoi
									.field.code
										label.label(for='') Zip/Postal Code
										.control
											input(type='text', name='', id='')
							form.shipping-method-form(action='')
								.shipping-method-wrapper
									.shipping-method-item
										.shipping-method-item__title.radio-title
											span Free Shipping
										.shipping-method-item__option.radio-option
											input(type='radio', name='free', id='')
											label(for='')
												| Free
												span.price $0.00
									.shipping-method-item
										.shipping-method-item__title.radio-title
											span Flat Rate
										.shipping-method-item__option.radio-option
											input(type='radio', name='fixed', id='')
											label(for='')
												| Fixed 
												span.price $15.00
					.cart-total
						.cart-total-item
							.cart-total__title
								span Subtotal
							.cart-total__amount
								if cart
									span=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((cart.totalPrice).toFixed())
									|đ
						.cart-total-item
							.cart-total__title
								span Order Total
							.cart-total__amount.total
								if cart
									span=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((cart.totalPrice).toFixed())
									|đ
					.block-discount
						.block-title.panel-heading
							span Apply Discount Code
							i.ti-angle-down
						.block-content.panel-collapse
							form.discount-coupon-form(action='')
								.fieldset.coupon
									.field.discount-code.mt-2
										label.label Enter discount code
										.control
											input(type='text', name='', id='')
										.action
											button.btn-primary Apply Discount
					.cart-checkout
						.action
							a.btn-primary.d-block(href='/express-checkout') Proceed to Checkout
