extend ./layout/layout.pug
block content
  //- Breadcrumbs
  .breadcrumbs
    ul.breadcrumbs-list.grid.wide
      li.breadcrumbs-item
        a.breadcrumbs-link(href='/') Home
      li.breadcrumbs-item
        a.breadcrumbs-link(href='')=datas.name
  //- Main content - start
  main.page-main.bg-white.mg-bot-60
    .grid.wide.container
      .row.product-main-content
        .col.l-6.m-12.c-12.product-media
          .media-nav
            each i in [1,2,3]
              .media-nav-item.media-nav-item--active
                img(src='/uploads/images/' + datas.images)
          .media-stage
            img(src='/uploads/images/' + datas.images)
            .media-stage__control
              .media-stage-pre-btn
                i.ti-angle-left
              .media-stage-next-btn
                i.ti-angle-right
        .col.l-6.m-12.c-12.product-info-main
          .product-info-stock-sku
            span.product-info-stock-sku__type SKU: 
            span.product-info-stock-sku__value Market0137
          .product-title-wrapper
            h1.product-title=datas.name
          .product-review-summary
            .rating-result
              i.rating-icon.active.far.fa-star
              i.rating-icon.active.far.fa-star
              i.rating-icon.active.far.fa-star
              i.rating-icon.active.far.fa-star
              i.rating-icon.far.fa-star
            .reviews-actions
              if !review || review == null
              else
                a.action.view(href='')
                  span=review.length
                  span review
          .share-dialog
            a.share-dialog-fb(href='')
              i.fab.fa-facebook-f
              span Facebook
            a.share-dialog-twt(href='')
              i.fab.fa-twitter
              span Twitter
          .product-stock
            span.product-stock__title Availability: 
            span.product-stock__status In stock
          .product-description
            table
              tbody
                tr
                  th.col-label Item model number:
                  td.col-data  PC-08361922
                tr
                  th.col-label Item Weight:
                  td.col-data  5 ounces
                tr
                  th.col-label Product Dimensions:
                  td.col-data 9.8 x 6.8 x 0.3 inches Item 
          .product-info-price
            .product-price
              .price-final=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((datas.price)-(datas.price*datas.discount)/100).toFixed())
              if datas.discount > 0
                .price-old=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((datas.price).toFixed())
          .product-add-form
            if datas.amount > 0
              form(action='' method="POST")
                .box-tocart
                  .box-tocart__qty
                    input.qty-down.is-form(type='button', value='-')
                    input.qty-control(type='number', value='1', name='add_product', max=datas.amount, min='1')
                    input.qty-up.is-form(type='button', value='+')
                  .box-tocart__action
                    button.btn-primary ADD TO CART
            else
              a.btn-primary.disabled(href="/") Hết Hàng
          .product-social-links
            .product-addto-links
              a.add-to-wish-list(href='')
                i.far.fa-heart
              .to-compare
                i.fas.fa-exchange-alt
          .product-category
            label(for='') Categories: 
            a(href='')=datas.detailCategory.category.name
          .product-page-brand-common-view
            label.brand-label(for='') Brands: 
            a(href='')=datas.detailCategory.name
      .product-info-detail
        .product-info-detail__tab-wrapper
          .tab-heading
            .tabs-item-wrapper
              ul.tabs-nav
                li.tab--active
                  a.tab-item(href='#details')
                    span Details
                li
                  a.tab-item(href='#moreinfo')
                    span More Infomation
                li
                  a.tab-item(href='#reviews')
                    span Reviews
                    if !review || review == null
                    else
                      span.counter=review.length
          .tab-content
            //- Detail
            #details.tab-pane.active
              .product-detail-description
                p
                  | The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution.
                  | Designed specifically for the creative professional, this display provides more space
                  | for easier access to all the tools and palettes needed to edit, format and composite
                  | your work. Combine this display with a Mac Pro, MacBook Pro, or PowerMac G5 and there&apos;s
                  | no limit to what you can achieve.
                p
                  | The Cinema HD features an active-matrix liquid crystal display that produces flicker-free
                  | images that deliver twice the brightness, twice the sharpness and twice the contrast ratio
                  | of a typical CRT display. Unlike other flat panels, it&apos;s designed with a pure digital
                  | interface to deliver distortion-free images that never need adjusting. With over 4 million
                  | digital pixels, the display is uniquely suited for scientific and technical applications
                  | such as visualizing molecular structures or analyzing geological data.
                p
                  | Offering accurate, brilliant color performance, the Cinema HD delivers up to 16.7 million colors
                  | across a wide gamut allowing you to see subtle nuances between colors from soft pastels to rich
                  | jewel tones. A wide viewing angle ensures uniform color from edge to edge. Apple&apos;s ColorSync
                  | technology allows you to create custom profiles to maintain consistent color onscreen and in print.
                  | The result: You can confidently use this display in all your color-critical applications.
                p
                  img(src='https://mageblueskytech.com/armania/media/wysiwyg/market_details_full.jpg', alt='')
                p
                  | Protective case for 2019 Apple iPad 10.2&Prime; 7th Generation ONLY (Model Number: A2197 / A2198 / A2200).
                  | It is Not compatible with any other devices. Please check back bottom of your iPad to find the model number.
                  | Ultra slim and lightweight hard back design adds minimal bulk while offers your device great protection.
                  | The translucent frosted back cover allows you to see the Apple icon through your favorite color,
                  | while protects your device against fingerprints and scratches
                p
                  | Classic and professional design; Full access to all features (Cameras, Speaker, Ports and Buttons),
                  | but NOT support Smart Keyboard in this case. Support auto Sleep/Wake feature; Magnet secures the case closure,
                  | easy snap on and off
            //- More infomation
            #moreinfo.tab-pane
              .product-detail-more-info
                table
                  tbody
                    tr
                      th.col-label Name
                      td.col-data=datas.name
                    tr
                      th.col-label Model
                      td.col-data=datas.detailCategory.name
            //- Reviews
            #reviews.tab-pane
              .block.product-detail-review
                .block-title
                  span Customer Reviews
                .block-content
                  ul.product-detail-review__list
                    if !date || date == null
                    else
                      each data in date
                        li.product-detail-review__item
                          .review-title=data.summary
                          .review-content
                            .review-content-left
                              .review-ratings
                                .rating-summary-item
                                  .label.rating-label
                                    span Price
                                  .rating-result
                                    i.rating-icon.active.far.fa-star
                                    i.rating-icon.active.far.fa-star
                                    i.rating-icon.active.far.fa-star
                                    i.rating-icon.active.far.fa-star
                                    i.rating-icon.far.fa-star.active
                                .rating-summary-item
                                  .label.rating-label
                                    span Value
                                  .rating-result
                                    i.rating-icon.active.far.fa-star
                                    i.rating-icon.active.far.fa-star
                                    i.rating-icon.active.far.fa-star
                                    i.rating-icon.active.far.fa-star
                                    i.rating-icon.far.fa-star
                            .review-content-right
                              .review-content-cmt=data.review
                              .review-details
                                .review-author
                                  span.review-details-label Review by
                                  strong.review-details-value=data.user_id.username
                                .review-author
                                  span.review-details-label Posted on
                                  strong.review-details-value=data.createdAt
                .block-review-add
                  .review-form-title
                    span You&apos;re reviewing:
                    strong=datas.name
                  form.review-form(action='' method='GET')
                    .field.review-field-summary.required
                      label.label(for='')
                        span Summary
                      .control
                        input.input-text(type='text', name='summary', id='')
                    .field.review-field-text.required
                      label.label(for='')
                        span Review
                      .control
                        textarea(name='reviews', id='', cols='5', rows='3')
                    .review-form-actions
                      .actions-primary
                        button.btn-primary(type='submit') Submit Review
      .product-relate
        .tag-title__wrapper
          .tag-title
            h2 Related Products
            .tag-title-action
              a(href='') Check items to add to the cart			
        .grid
          ul.row.product-relate__list
            each datas in relatedProduct
              li.col.l-2-4.m-4.c-6.product-wrapper
                a.product-img(href='')
                  img(src='/uploads/images/' + datas.images)
                .product-action
                  a(href='')
                    i.to-compare.fas.fa-exchange-alt
                  a(href='')
                    i.add-to-wish-list.far.fa-heart
                  a(href='')
                    i.add-to-cart.fas.fa-cart-plus
                .onsale
                  if datas.discount > 0
                    span=datas.discount
                    | %	
                a.product-name(href='')=datas.name
                .product-price
                  .price-final=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((datas.price)-(datas.price*datas.discount)/100).toFixed())
                  if datas.discount > 0
                    .price-old=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((datas.price).toFixed())
  //- Main content - end
