extend ./layout/layout.pug
block content
  main.page-main.page-content.bg-white.mg-bot-60
    .grid.wide.page-express-checkout
      .page-title-wrapper
        h1.page-title
          span Express Checkout
      form(action='', method='POST')
        .row.container
          .col.l-8.m-12.c-12.checkout-wrapper
            .grid
              .row
                // Shipping address
                .col.l-6.m-12.c-12.checkout-shipping-address-wrapper
                  .checkout-shipping-address
                    .checkout-shipping-address__title.checkout-title
                      i.fas.fa-home
                      span Shipping Address
                    .checkout-shipping-address__steps
                      .field.required.shipping-address-firstname
                        label.label(for='') Email
                        .control
                          input(type='text', name='email', id='' required)
                      .fieldset.field.shipping-street-address
                        .control
                          .field.required
                            label.label(for='') Street Address 
                            .control
                              input(type='text', name='address', id='' required)
                      .field.phone-number
                        label.label(for='') Phone Number
                        .control
                          input(type='text', name='phonenumber', id='' required)
                          i.far.fa-question-circle
                .col.l-6.m-12.c-12.checkout-methods-wrapper
                  .checkout-methods
                    // Shipping methods
                    .checkout-shipping-method
                      .checkout-shipping-method__title.checkout-title
                        i.fas.fa-truck
                        span Shipping Methods
                      .checkout-shipping-method__steps
                        .field.delivery-comment
                          label.label(for='') Shipping Delivery Comment
                          .control
                            textarea(name='comment', id='', cols='3', rows='3' required)
          .col.l-4.m-12.c-12.checkout-sidebar-wrapper
            .checkout-sidebar
              .block-summary
                .checkout-title
                  span Order Summary
                .block.items-in-cart
                  .title
                    if cart
                      span=cart.totalItems
                    span  Items In Cart
                  ul.items-in-cart__list
                    if !cartProduct || cartProduct == null
                      .hidden.header-cart-no-item__msg You have no items in your shopping cart.
                    else
                      each datas in cartProduct
                        li.items-in-cart__item
                          .items-in-cart__img-wrapper
                            .items-in-cart__img
                              img(src='/uploads/images/'+ datas.images)
                          .items-in-cart__detail
                            .items-in-cart-name-block
                              a.product-name(href='')
                                span=datas.name
                              span.details-qty
                                label.label(for='') Qty: 
                                input.input-text.qty(type='number', name='', value=datas.quantity, id='')
                              span.qty-button
                                span.increase
                                  i.fas.fa-sort-up
                                span.decrease
                                  i.fas.fa-sort-down
                            .items-in-cart-subtotal
                              span.price-excluding-tax=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((datas.price).toFixed())
                  .cart-total
                    .cart-total-item.total
                      if !cart || cart == null
                      else
                        .cart-total__title
                          span Order Total
                        .cart-total__amount.total
                          span=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((cart.totalPrice).toFixed())
            .place-order-btn
              button(style="width: 119px; margin-left: 18px; line-height: 28px; border-radius: 5px; font-size: 14px; font-weight: bold;margin-top: 25px;background-color:#FCB800;color: #ffff;border : 0px;") Place Order
      form(action='payment', method='POST', style="margin-left: 1135px; margin-top: -31px;")
        script.stripe-button(src='//checkout.stripe.com/v2/checkout.js', data-key=key, data-amount='', data-currency='vnd', data-name='Thanh Cong store', data-description='Buy Product in ThanhCong store', data-locale='auto')
